.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 1170px) {
    .container {
      padding: 0 20px; } }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 15px; } }
  @media only screen and (max-width: 550px) {
    .container {
      padding: 0 10px; } }

.active {
  display: inline-block !important; }

.section-title {
  text-align: center; }

.section-title__descr {
  font: 400 24px/24px "Kaushan", "Arial", sans-serif;
  color: #000;
  margin-bottom: 30px; }
  @media only screen and (max-width: 750px) {
    .section-title__descr {
      margin: 25px 20px 40px; } }

.section-title__intro {
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 31px; }
  .section-title__intro:after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0;
    width: 6%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f38181; }
    .section--service .section-title__intro:after {
      width: 7%; }
    .section--devices .section-title__intro:after {
      width: 5%; }

.section-descr {
  text-align: center;
  margin: 45px 120px 100px; }
  @media only screen and (max-width: 768px) {
    .section-descr {
      max-width: 450px;
      margin: 30px auto 60px; } }

.section-descr__text {
  font: 400 15px/24px "Roboto", "Arial", sans-serif;
  color: #999; }

.section--about-us {
  padding: 90px 0 110px; }
  @media only screen and (max-width: 768px) {
    .section--about-us {
      padding: 60px 0 90px; } }
  @media only screen and (max-width: 450px) {
    .section--about-us {
      padding: 40px 0 60px; } }

.section--number-info {
  background-color: #95e1d3; }

.section--service {
  padding: 110px 0 70px; }

.section--devices {
  padding-top: 110px;
  background: url("../img/bg/bg-features.jpg") center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 750px) {
    .section--devices {
      padding-top: 50px; } }

.section--services {
  padding: 110px 0 120px; }

.section--testimotials {
  padding: 70px 0;
  background-color: #f8f8f8; }

.section--team {
  padding: 100px 0 120px; }
  @media only screen and (max-width: 750px) {
    .section--team {
      padding: 50px 0; } }

.main-nav {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  left: 0; }
  @media only screen and (max-width: 1240px) {
    .main-nav {
      left: 20px;
      right: 20px; } }
  @media only screen and (max-width: 725px) {
    .main-nav {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.99);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
      right: 0;
      left: 0;
      z-index: 5;
      height: 65px;
      padding: 0 20px; } }

.main-nav__logo-link {
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
  color: #fff; }
  @media only screen and (max-width: 725px) {
    .main-nav__logo-link {
      color: #f38181; } }

.main-nav__burger {
  display: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 725px) {
    .main-nav__burger {
      display: block; } }

.main-nav__burger-item {
  position: absolute;
  background: #f38181;
  width: 30px;
  height: 2px;
  display: block;
  transition: all .3s ease-in-out; }

.main-nav__burger-item {
  top: calc(50% - 1px);
  right: 0px;
  opacity: 1; }
  .main-nav__burger--is-open .main-nav__burger-item:nth-child(1) {
    opacity: 0; }
  .main-nav__burger-item:nth-child(2) {
    top: 2px;
    content: ''; }
    .main-nav__burger--is-open .main-nav__burger-item:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 10px; }
  .main-nav__burger-item:nth-child(3) {
    top: 22px;
    content: ''; }
    .main-nav__burger--is-open .main-nav__burger-item:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 10px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 725px) {
    .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 65px;
      left: 0;
      right: 0;
      box-shadow: 0 10px 14px 5px rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.99);
      opacity: 0;
      visibility: hidden;
      transition: .35s ease-out;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px; }
      .main-nav__list.main-nav__list--is-open {
        opacity: 1;
        visibility: visible; } }

.main-nav__elem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font: 400 14px/35px "Montserrat", "Arial", sans-serif;
  margin: 0 20px;
  border-bottom: 3px solid rgba(252, 227, 138, 0);
  transition: .3s ease-out; }
  @media only screen and (min-width: 725px) {
    .main-nav__elem:not(.main-nav__elem-icon):hover {
      border-bottom: 3px solid #fce38a; } }
  @media only screen and (max-width: 1060px) {
    .main-nav__elem {
      margin: 0 15px; } }
  @media only screen and (max-width: 725px) {
    .main-nav__elem {
      font: 400 14px/35px "Montserrat", "Arial", sans-serif;
      padding: 10px 20px;
      cursor: pointer;
      text-align: center;
      margin: 0;
      border-bottom: 0; } }

.main-nav__link {
  color: #fff;
  transition: .3s ease-out;
  text-transform: uppercase;
  display: block; }
  @media only screen and (min-width: 725px) {
    .main-nav__elem:hover .main-nav__link {
      color: #fce38a; } }
  @media only screen and (max-width: 725px) {
    .main-nav__link {
      width: 100%;
      color: #f38181; } }

.main-nav__elem-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 725px) {
    .main-nav__elem-icon {
      display: none; } }

.main-nav__elem-icon-shop,
.main-nav__elem-icon-glass {
  display: inline-block;
  width: 25px;
  height: 20px; }

.main-nav__elem-icon-shop {
  background: url("../img/icons/banner_shop.png") no-repeat; }

.main-nav__elem-icon-glass {
  background: url("../img/icons/banner_glass.png") no-repeat; }

.page-title {
  background: url("../img/bg/bg-header.jpg") center;
  background-size: cover;
  padding-top: calc(165px + 65px); }
  @media only screen and (max-width: 750px) {
    .page-title {
      padding-top: calc(100px + 65px); } }

.page-title__wrapper {
  text-align: center; }

.page-title__title-style {
  font: 400 72px/72px "Kaushan", "Arial", sans-serif;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .page-title__title-style {
      font-size: 42px;
      line-height: 42px; } }
  @media only screen and (max-width: 660px) {
    .page-title__title-style {
      font-size: 32px;
      line-height: 32px; } }
  @media only screen and (max-width: 430px) {
    .page-title__title-style {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 15px; } }

.page-title__title {
  font: 700 150px/140px "Montserrat", "Arial", sans-serif;
  color: #fff;
  position: relative;
  padding-bottom: 65px;
  text-transform: uppercase; }
  .page-title__title:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 4%;
    bottom: 0;
    left: 48%;
    background-color: #fff; }
  @media only screen and (max-width: 992px) {
    .page-title__title {
      font-size: 100px;
      line-height: 100px; } }
  @media only screen and (max-width: 660px) {
    .page-title__title {
      font-size: 60px;
      line-height: 70px;
      padding-bottom: 45px; } }
  @media only screen and (max-width: 430px) {
    .page-title__title {
      font-size: 45px;
      line-height: 55px;
      padding-bottom: 25px; } }

.page-title__link-more {
  margin: 50px 0 100px;
  display: inline-block;
  color: #fff;
  font: 700 14px/1 "Montserrat", "Arial", sans-serif;
  border: 3px solid #fff;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: .25s ease-out;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .page-title__link-more:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -15px;
    left: 50%;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0;
    transition: .35s ease-out;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    will-change: transform; }
  @media only screen and (min-width: 551px) {
    .page-title__link-more:hover {
      background-color: #fff;
      color: #f38181;
      letter-spacing: 1px; }
      .page-title__link-more:hover:after {
        opacity: 1;
        bottom: -20px;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-animation-name: arrow-down;
                animation-name: arrow-down;
        -webkit-animation-delay: .35s;
                animation-delay: .35s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; } }
  @media only screen and (max-width: 550px) {
    .page-title__link-more {
      border-color: transparent;
      font-size: 16px; }
      .page-title__link-more:after {
        opacity: 1;
        bottom: -10px;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-animation-name: arrow-down;
                animation-name: arrow-down;
        -webkit-animation-delay: .35s;
                animation-delay: .35s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; } }

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  50% {
    -webkit-transform: rotateZ(45deg) translateX(5px) translateY(5px);
            transform: rotateZ(45deg) translateX(5px) translateY(5px); }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); } }

@keyframes arrow-down {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  50% {
    -webkit-transform: rotateZ(45deg) translateX(5px) translateY(5px);
            transform: rotateZ(45deg) translateX(5px) translateY(5px); }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); } }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 950px) {
    .about-us {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.about-us__elem {
  width: 30%;
  background-color: #95e1d3;
  cursor: pointer;
  height: 100%;
  display: block; }
  @media only screen and (max-width: 950px) {
    .about-us__elem {
      width: 60%;
      margin: 0 auto 30px; }
      .about-us__elem:last-child {
        margin-bottom: 0; } }
  @media only screen and (max-width: 550px) {
    .about-us__elem {
      width: 90%; } }

.about-us__elem-mask {
  background-size: cover;
  width: 100%;
  height: 237px;
  transition: .3s ease-out;
  position: relative; }
  @media only screen and (max-width: 950px) {
    .about-us__elem-mask {
      height: 35vw; } }
  @media only screen and (max-width: 550px) {
    .about-us__elem-mask {
      height: auto; } }

.about-us_elem-mask:hover .about_sect-content_elem-content {
  opacity: 1; }

.about-us__info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0;
  transition: 0.35s ease-out;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  .about-us__elem:hover .about-us__info {
    opacity: 1;
    -webkit-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px); }

.about-us__info-title {
  font: 700 18px/18px "Montserrat", "Arial", sans-serif;
  margin-top: 20px; }

.about-us__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 0.35s ease-out; }
  .about-us__image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block; }
    @media only screen and (max-width: 550px) {
      .about-us__image img {
        position: static;
        -webkit-transform: none;
                transform: none;
        top: inherit;
        left: inherit;
        width: 100%; } }
  .about-us__elem:hover .about-us__image {
    -webkit-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px); }

.number-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 620px) {
    .number-info {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.number-info__elem {
  width: 20%;
  border-right: 1px solid #b5eae0;
  margin-right: -4px;
  color: #fff;
  padding: 90px 5px;
  text-align: center; }
  .number-info__elem:first-child {
    border-left: 1px solid #b5eae0; }
  @media only screen and (max-width: 1120px) {
    .number-info__elem {
      padding: 70px 5px; } }
  @media only screen and (max-width: 840px) {
    .number-info__elem {
      padding: 40px 5px; } }
  @media only screen and (max-width: 620px) {
    .number-info__elem {
      width: 33%; }
      .number-info__elem:nth-child(4) {
        border-left: 1px solid #b5eae0; } }
  @media only screen and (max-width: 510px) {
    .number-info__elem {
      width: 50%; }
      .number-info__elem:nth-child(4) {
        border-left: none; }
      .number-info__elem:nth-child(3), .number-info__elem:nth-child(5) {
        border-left: 1px solid #b5eae0; } }

.number-info__elem-number {
  font: 700 72px/72px "Montserrat", "Arial", sans-serif;
  display: block; }
  @media only screen and (max-width: 768px) {
    .number-info__elem-number {
      font-size: 56px; } }

.number-info__elem-descr {
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  display: block;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .number-info__elem-descr {
      font-size: 12px; } }

.service__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.service__list--border-bottom {
  border-bottom: 1px solid #b5eae0; }

.service__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  padding: 65px 0 50px; }

.service__item-img {
  width: 10%;
  min-width: 35px; }
  @media only screen and (max-width: 750px) {
    .service__item-img {
      margin-right: 5px; } }
  .service__item-img img {
    width: 100%;
    display: block; }

.service__item-text {
  width: 81%; }

.service__item-title {
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px; }
  @media only screen and (max-width: 750px) {
    .service__item-title {
      margin-bottom: 5px; } }

.service__item-descr {
  font: 400 15px/24px "Roboto", "Arial", sans-serif;
  color: #999; }
  @media only screen and (max-width: 750px) {
    .service__item-descr {
      font-size: 20px; } }

.devices__sect-content {
  text-align: center;
  margin-left: -40px; }
  .devices__sect-content img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%; }

.devices__sect-content-absolut-img {
  position: absolute;
  bottom: 0;
  bottom: -10%;
  right: 22%; }
  @media only screen and (max-width: 992px) {
    .devices__sect-content-absolut-img {
      right: 7%; } }
  @media only screen and (max-width: 750px) {
    .devices__sect-content-absolut-img {
      right: 0; } }
  @media only screen and (max-width: 370px) {
    .devices__sect-content-absolut-img {
      right: -60px; } }
  .devices__sect-content-absolut-img img {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 660px) {
      .devices__sect-content-absolut-img img {
        width: 90%; } }
    @media only screen and (max-width: 580px) {
      .devices__sect-content-absolut-img img {
        width: 80%; } }
    @media only screen and (max-width: 430px) {
      .devices__sect-content-absolut-img img {
        width: 65%; } }
    @media only screen and (max-width: 370px) {
      .devices__sect-content-absolut-img img {
        width: 55%; } }

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .services__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.services__preview {
  width: 48%; }
  @media only screen and (max-width: 700px) {
    .services__preview {
      width: 60vw;
      margin-bottom: 25px; } }
  @media only screen and (max-width: 660px) {
    .services__preview {
      width: 75vw; } }
  @media only screen and (max-width: 580px) {
    .services__preview {
      width: 100%; } }
  .services__preview img {
    width: 100%;
    display: block; }

.services__accordeon {
  width: 48%; }
  @media only screen and (max-width: 700px) {
    .services__accordeon {
      width: 75vw; } }
  @media only screen and (max-width: 580px) {
    .services__accordeon {
      width: 100%; } }

.services__accordeon-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  cursor: pointer; }
  .services__accordeon-item:last-child {
    margin-bottom: 0; }

.services__accordeon-title {
  text-transform: uppercase;
  color: #333;
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
  position: relative; }
  @media only screen and (max-width: 580px) {
    .services__accordeon-title {
      padding: 15px; } }

.services__accordeon-arrow {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  transition: .35s ease-out; }
  .services__accordeon-item--open .services__accordeon-arrow {
    -webkit-transform: translateY(-50%) rotate(-225deg);
            transform: translateY(-50%) rotate(-225deg); }

.services__accordeon-descr {
  transition: .35s ease-out;
  padding: 0 10px;
  font: italic 300 15px/24px "Roboto", "Arial", sans-serif;
  color: #999;
  max-height: 0;
  overflow: hidden; }
  .services__accordeon-item--open .services__accordeon-descr {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto; }

.testimotials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }
  @media only screen and (max-width: 675px) {
    .testimotials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.testimotials__photo {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
  .testimotials__photo img {
    max-width: 100%;
    max-height: 100%;
    display: block; }
  @media only screen and (max-width: 750px) {
    .testimotials__photo {
      width: 110px;
      height: 110px;
      margin-right: 10px; } }
  @media only screen and (max-width: 675px) {
    .testimotials__photo {
      width: 170px;
      height: 170px;
      margin: 0 auto 20px; } }

.testimotials__photo--icon {
  border: 2px solid #95e1d3; }

.testimotials__testimotial {
  width: calc(100% - 200px); }
  @media only screen and (max-width: 1024px) {
    .testimotials__testimotial {
      width: calc(100% - 170px); } }
  @media only screen and (max-width: 750px) {
    .testimotials__testimotial {
      width: calc(100% - 140px); } }
  @media only screen and (max-width: 675px) {
    .testimotials__testimotial {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }

.testimotials__testimotial-text {
  font: italic 300 24px/36px "Roboto", "Arial", sans-serif;
  color: #999; }
  @media only screen and (max-width: 750px) {
    .testimotials__testimotial-text {
      font-size: 20px; } }

.testimotials__testimotial-author {
  font: 400 24px/36px "Kaushan", "Arial", sans-serif;
  color: #333333;
  position: relative;
  padding-left: 60px; }
  .testimotials__testimotial-author:before {
    content: '';
    position: absolute;
    width: 50px;
    background-color: #f38181;
    height: 2px;
    left: 0;
    top: 50%; }
  @media only screen and (max-width: 675px) {
    .testimotials__testimotial-author {
      text-align: right;
      padding-right: 30px; } }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 750px) {
    .team__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team__item {
  width: 30%;
  background-color: #95e1d3; }
  @media only screen and (max-width: 1024px) {
    .team__item {
      width: 32%; } }
  @media only screen and (max-width: 750px) {
    .team__item {
      width: 50vw; }
      .team__item:not(:last-child) {
        margin-bottom: 25px; } }
  @media only screen and (max-width: 660px) {
    .team__item {
      width: 60vw; } }
  @media only screen and (max-width: 480px) {
    .team__item {
      width: 75vw; } }
  @media only screen and (max-width: 430px) {
    .team__item {
      width: 100%; } }

.team__item-person {
  background-size: cover;
  width: 100%;
  height: 475px;
  transition: .3s ease-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    .team__item-person {
      height: 400px; } }
  @media only screen and (max-width: 750px) {
    .team__item-person {
      height: 375px; } }
  .team__item-person:hover {
    margin: -10px 0 0 -10px; }

.team__item-soc {
  display: inline-block;
  margin-right: -4px; }

.team__item-soc-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fce38a;
  color: #f38181;
  width: 56px;
  height: 56px;
  transition: .2s ease-out;
  opacity: 0;
  font-size: 1.5em; }
  .team__item-soc-link:hover {
    background-color: #f38181;
    color: #fce38a; }
  .team__item-person:hover .team__item-soc-link {
    opacity: 1; }

.logos {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px; }

.logos-content img {
  display: block;
  width: 100%; }

.works {
  padding: 110px 0 120px; }

.works__wrapper {
  background-color: #95e1d3; }

.works__wrapper_column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 780px; }

.works__wrapper_column_item {
  height: 390px;
  width: 25%;
  margin-right: -4px;
  background-position: center;
  background-size: cover;
  cursor: pointer; }
  .works__wrapper_column_item:hover .works__wrapper_column_item_mask {
    opacity: 1; }

.works__wrapper_column_item-one {
  background-image: url("../img/photo/work-item-1.jpg"); }

.works__wrapper_column_item-two {
  background-image: url("../img/photo/work-item-2.jpg"); }

.works__wrapper_column_item-three {
  background-image: url("../img/photo/work-item-3.jpg"); }

.works__wrapper_column_item-four {
  background-image: url("../img/photo/work-item-4.jpg"); }

.works__wrapper_column_item-five {
  background-image: url("../img/photo/work-item-5.jpg");
  height: calc(390px * 2); }

.works__wrapper_column_item-six {
  background-image: url("../img/photo/work-item-6.jpg"); }

.works__wrapper_column_item-seven {
  background-image: url("../img/photo/work-item-7.jpg"); }

.works__wrapper_column_item_mask {
  width: 100%;
  height: 390px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: .3s ease-out;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  .works__wrapper_column_item_mask img {
    margin-bottom: 20px;
    display: block; }
  .works__wrapper_column_item_mask h4 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .works__wrapper_column_item_mask span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif; }

.works__wrapper_column_item_mask_x2 {
  height: 780px; }

.second_slide {
  padding: 0 0 70px; }

.second_slide_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }

.second_slide_wrapper_img {
  width: 150px; }
  .second_slide_wrapper_img img {
    border-radius: 50%;
    display: block;
    width: 100%; }

.second_slide_wrapper_descr {
  width: 79%; }
  .second_slide_wrapper_descr p {
    font: italic 300 24px/36px "Roboto", "Arial", sans-serif;
    color: #999; }
  .second_slide_wrapper_descr h4 {
    font: 400 24px/36px "Kaushan", "Arial", sans-serif;
    color: #333333;
    position: relative;
    padding-left: 60px; }
    .second_slide_wrapper_descr h4:before {
      content: '';
      position: absolute;
      width: 50px;
      background-color: #f38181;
      height: 2px;
      left: 0;
      top: 50%; }

.clietns {
  padding: 110px 0 130px;
  background: url("../img/bg/bg-people.jpg") center;
  background-size: cover; }

.clietns_wrapper {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.clietns_wrapper_column_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
  width: 50%; }

.clietns_wrapper_column_item_img {
  width: 23%; }
  .clietns_wrapper_column_item_img img {
    display: block;
    width: 100%;
    cursor: pointer; }

.clietns_wrapper_column_item_text {
  width: 73%; }
  .clietns_wrapper_column_item_text h3 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px; }
  .clietns_wrapper_column_item_text span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block; }
    .clietns_wrapper_column_item_text span:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #f38181;
      width: 15%;
      bottom: 0;
      left: 0; }
  .clietns_wrapper_column_item_text p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #999; }

.blog {
  padding: 110px 0 115px; }

.blog .section-title h2:after {
  width: 5%;
  left: 48%; }

.blog_wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog_wrapper_item {
  width: 30%; }

.blog_wrapper_item_img {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer; }
  .blog_wrapper_item_img img {
    width: 100%;
    display: block; }
  .blog_wrapper_item_img .date {
    position: absolute;
    bottom: 3%;
    left: -2%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    color: #fff; }
    .blog_wrapper_item_img .date .number {
      font: 700 30px/30px "Montserrat", "Arial", sans-serif; }
    .blog_wrapper_item_img .date .mounth {
      font: italic 300 15px/15px "Roboto", "Arial", sans-serif; }

.blog_wrapper_item_text {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }
  .blog_wrapper_item_text h3 {
    text-transform: uppercase;
    color: #333333;
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    margin-bottom: 20px; }
  .blog_wrapper_item_text p {
    color: #999999;
    font: 400 15px/24px "Roboto", "Arial", sans-serif; }

.blog_wrapper_item_footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog_wrapper_item_footer_watch {
  margin-right: 15px; }

.blog_wrapper_item_footer_watch,
.blog_wrapper_item_footer_comment {
  display: inline-block; }
  .blog_wrapper_item_footer_watch span,
  .blog_wrapper_item_footer_comment span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #999; }

.map {
  background: url("../img/bg/bg-map.jpg") center;
    background-background-size: cover;
  padding: 60px 0;
  text-align: center; }

.map_wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .map_wrapper img {
    display: inline-block;
    width: 22px;
    margin-bottom: 20px; }
  .map_wrapper h2 {
    font: 700 24px/24px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #f38181;
    display: inline-block;
    padding-bottom: 20px;
    position: relative; }
    .map_wrapper h2:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #f38181;
      bottom: 0;
      width: 45%;
      left: 29%; }

.footer {
  background-color: #f8f8f8; }

.footer_wrapper {
  padding: 75px 0 70px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_wrapper_item_soc {
  width: 39%; }

.footer_wrapper_item_soc_wrapper {
  border-bottom: 1px solid #e5e5e5; }
  .footer_wrapper_item_soc_wrapper h2 {
    font: 700 46px/46px "Montserrat", "Arial", sans-serif;
    color: #ccc;
    margin-bottom: 45px; }
  .footer_wrapper_item_soc_wrapper p {
    font: 400 15px/25px "Roboto", "Arial", sans-serif;
    color: #999;
    margin-bottom: 50px; }
  .footer_wrapper_item_soc_wrapper h3 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333;
    margin-bottom: 20px; }
    .footer_wrapper_item_soc_wrapper h3 span {
      font: 700 18px "Montserrat", "Arial", sans-serif; }

.footer_wrapper_item_soc_social {
  margin: 20px 0 40px; }
  .footer_wrapper_item_soc_social span {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #999;
    display: inline-block;
    margin-right: 20px; }
  .footer_wrapper_item_soc_social ul {
    display: inline-block; }
    .footer_wrapper_item_soc_social ul li {
      display: inline-block;
      margin-right: 15px; }
      .footer_wrapper_item_soc_social ul li:last-child {
        margin-right: 0; }
      .footer_wrapper_item_soc_social ul li a {
        font-size: 1em;
        color: #95e1d3; }

.footer_wrapper_item_soc_form input[type="email"] {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #e7e7e7;
  line-height: 20px; }

.footer_wrapper_item_soc_form input[type="submit"] {
  width: 40%;
  padding: 10px;
  border: 2px solid #95e1d3;
  background-color: #95e1d3;
  margin-left: -4px;
  line-height: 20px;
  font: 700 14px "Montserrat", "Arial", sans-serif;
  color: #fff;
  cursor: pointer; }

.footer_wrapper_item_soc_form input[type="email"]::-webkit-input-placeholder {
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #ccc; }

.footer_wrapper_item_soc_form input[type="email"]:-moz-placeholder {
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #ccc;
  opacity: 1; }

.footer_wrapper_item_soc_form input[type="email"]::-moz-placeholder {
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #ccc;
  opacity: 1; }

.footer_wrapper_item_soc_form input[type="email"]:-ms-input-placeholder {
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #ccc; }

.footer_wrapper_item_blog {
  width: 30%; }
  .footer_wrapper_item_blog h2 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333;
    text-transform: uppercase;
    margin: 10px 0 40px; }

.footer_wrapper_item_blog_blogs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .footer_wrapper_item_blog_blogs_item:not(:last-child) {
    margin-bottom: 30px; }

.footer_wrapper_item_blog_blogs_item_img {
  display: inline-block;
  width: 38%; }
  .footer_wrapper_item_blog_blogs_item_img img {
    display: block;
    width: 100%; }

.footer_wrapper_item_blog_blogs_item_content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57%; }
  .footer_wrapper_item_blog_blogs_item_content h3 {
    font: 400 12px/18px "Montserrat", "Arial", sans-serif;
    color: #333;
    text-transform: uppercase; }
  .footer_wrapper_item_blog_blogs_item_content span {
    display: block;
    font: italic 300 13px "Roboto", "Arial", sans-serif;
    color: #999; }

.footer_wrapper_item_inst {
  width: 25%; }
  .footer_wrapper_item_inst h2 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333;
    text-transform: uppercase;
    margin: 10px 0 40px; }
  .footer_wrapper_item_inst span {
    margin-top: 10px;
    display: block;
    font: italic 300 13px "Roboto", "Arial", sans-serif;
    color: #999;
    cursor: pointer; }

.footer_wrapper_item_inst_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_wrapper_item_inst_items_item {
  width: 32.5%;
  display: block;
  cursor: pointer;
  margin-bottom: 4px; }
  .footer_wrapper_item_inst_items_item img {
    width: 100%;
    display: block; }

.footer_info {
  padding: 25px 0;
  text-align: center; }
  .footer_info h4 {
    font: 400 14px "Montserrat", "Arial", sans-serif;
    color: #333; }
    .footer_info h4 span {
      color: #f38181;
      cursor: pointer; }

@media only screen and (max-width: 750px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-content_elem {
    width: 60vw; }
  .about-content_elem:not(:last-child) {
    margin-bottom: 25px; }
  .info-content_elem {
    padding: 50px 0; }
  .info-content_elem span:first-child {
    font-size: 42px;
    line-height: 42px; }
  .logos {
    display: none; }
  .works__wrapper_column {
    height: 1560px; }
  .works__wrapper_column_item {
    width: 50%; }
  .blog,
  .clietns,
  .works,
  .team,
  .services,
  .service,
  .about,
  .footer_wrapper {
    padding: 50px 0; }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer_wrapper_item_soc,
  .footer_wrapper_item_blog,
  .footer_wrapper_item_inst {
    width: 100%; }
  .footer_wrapper_item_blog_blogs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer_wrapper_item_blog_blogs_item:not(:last-child) {
    margin-bottom: 0; }
  .footer_wrapper_item_inst_items_item {
    width: 10%; }
  .footer_wrapper_item_blog h2,
  .footer_wrapper_item_inst h2 {
    margin: 20px 0; } }

@media only screen and (max-width: 660px) {
  .sect-descr {
    margin: 20px 0; }
  .blog_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog_wrapper_item {
    width: 60vw; }
  .burger-menu {
    display: block; } }

@media only screen and (max-width: 580px) {
  .about-content_elem {
    width: 75vw; }
  .info {
    display: none; }
  .works__wrapper_column_item,
  .works__wrapper_column_item_mask {
    height: 290px; }
  .works__wrapper_column_item_mask_x2,
  .works__wrapper_column_item-five {
    height: 580px; }
  .works__wrapper_column {
    height: 1160px; }
  .service__sect-content-1,
  .service__sect-content-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .service__sect-content_item {
    width: 75vw;
    padding: 30px 0; }
  .service__sect-content-1 {
    border: none; }
  .clietns_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .clietns_wrapper_column_item {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .service__sect-content_item {
    width: 100%; } }

@media only screen and (max-width: 430px) {
  .footer_wrapper_item_inst_items_item {
    width: 22%; }
  .footer_wrapper_item_blog_blogs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer_wrapper_item_blog_blogs_item:not(:last-child) {
    margin-bottom: 20px; }
  .about-content_elem {
    width: 100%; } }
