.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 1170px) {
    .container {
      padding: 0 20px; } }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 15px; } }
  @media only screen and (max-width: 550px) {
    .container {
      padding: 0 10px; } }

.active {
  display: inline-block !important; }

.section-title {
  text-align: center; }

.section-title__descr {
  font: 400 24px/24px "Kaushan", "Arial", sans-serif;
  color: #000;
  margin-bottom: 30px; }
  @media only screen and (max-width: 750px) {
    .section-title__descr {
      margin: 25px 20px 40px; } }

.section-title__intro {
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 31px; }
  .section-title__intro:after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0;
    width: 6%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f38181; }
    .section--service .section-title__intro:after {
      width: 7%; }
    .section--devices .section-title__intro:after {
      width: 5%; }
    .section--blog .section-title__intro:after {
      width: 5%; }

.section-descr {
  text-align: center;
  margin: 45px 120px 100px; }
  @media only screen and (max-width: 768px) {
    .section-descr {
      max-width: 450px;
      margin: 30px auto 60px; } }

.section-descr__text {
  font: 400 15px/24px "Roboto", "Arial", sans-serif;
  color: #999; }

.section--about-us {
  padding: 90px 0 110px; }
  @media only screen and (max-width: 768px) {
    .section--about-us {
      padding: 60px 0 90px; } }
  @media only screen and (max-width: 450px) {
    .section--about-us {
      padding: 40px 0 60px; } }

.section--number-info {
  background-color: #95e1d3; }

.section--service {
  padding: 110px 0 70px; }
  @media only screen and (max-width: 768px) {
    .section--service {
      padding: 50px 0; } }

.section--devices {
  padding-top: 110px;
  background: url("../img/bg/bg-features.jpg") center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .section--devices {
      padding-top: 50px; } }

.section--services {
  padding: 110px 0 120px; }
  @media only screen and (max-width: 768px) {
    .section--services {
      padding: 50px 0; } }

.section--testimotials {
  padding: 70px 0;
  background-color: #f8f8f8; }

.section--team {
  padding: 100px 0 120px; }
  @media only screen and (max-width: 768px) {
    .section--team {
      padding: 50px 0; } }

.section--works {
  padding-top: 110px; }
  @media only screen and (max-width: 768px) {
    .section--works {
      padding-top: 50px; } }

.section--clients {
  padding: 110px 0 130px;
  background: url("../img/bg/bg-people.jpg") center;
  background-size: cover; }
  @media only screen and (max-width: 768px) {
    .section--clients {
      padding: 50px 0; } }

.section--blog {
  padding: 110px 0 115px; }
  @media only screen and (max-width: 768px) {
    .section--blog {
      padding: 50px 0; } }

.section--map {
  background: url("../img/bg/bg-map.jpg") center;
  background-size: cover;
  padding: 60px 0;
  text-align: center; }

.main-nav {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0; }
  @media only screen and (max-width: 1240px) {
    .main-nav {
      left: 20px;
      right: 20px; } }
  @media only screen and (max-width: 725px) {
    .main-nav {
      position: fixed;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: rgba(255, 255, 255, 0.99);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
      right: 0;
      left: 0;
      z-index: 5;
      height: 65px;
      padding: 0 20px; } }

.main-nav__logo-link {
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
  color: #fff; }
  @media only screen and (max-width: 725px) {
    .main-nav__logo-link {
      color: #f38181; } }

.main-nav__burger {
  display: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 725px) {
    .main-nav__burger {
      display: block; } }

.main-nav__burger-item {
  position: absolute;
  background: #f38181;
  width: 30px;
  height: 2px;
  display: block;
  transition: all .3s ease-in-out; }

.main-nav__burger-item {
  top: calc(50% - 1px);
  right: 0px;
  opacity: 1; }
  .main-nav__burger--is-open .main-nav__burger-item:nth-child(1) {
    opacity: 0; }
  .main-nav__burger-item:nth-child(2) {
    top: 2px;
    content: ''; }
    .main-nav__burger--is-open .main-nav__burger-item:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 10px; }
  .main-nav__burger-item:nth-child(3) {
    top: 22px;
    content: ''; }
    .main-nav__burger--is-open .main-nav__burger-item:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 10px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 725px) {
    .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 65px;
      left: 0;
      right: 0;
      box-shadow: 0 10px 14px 5px rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.99);
      opacity: 0;
      visibility: hidden;
      transition: .35s ease-out;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px; }
      .main-nav__list.main-nav__list--is-open {
        opacity: 1;
        visibility: visible; } }

.main-nav__elem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 14px/35px "Montserrat", "Arial", sans-serif;
  margin: 0 20px;
  border-bottom: 3px solid rgba(252, 227, 138, 0);
  transition: .3s ease-out; }
  @media only screen and (min-width: 725px) {
    .main-nav__elem:not(.main-nav__elem--no-border):hover {
      border-bottom: 3px solid #fce38a; } }
  @media only screen and (max-width: 1060px) {
    .main-nav__elem {
      margin: 0 15px; } }
  @media only screen and (max-width: 725px) {
    .main-nav__elem {
      font: 400 14px/35px "Montserrat", "Arial", sans-serif;
      padding: 10px 20px;
      cursor: pointer;
      text-align: center;
      margin: 0;
      border-bottom: 0; } }

.main-nav__link {
  color: #fff;
  transition: .3s ease-out;
  text-transform: uppercase;
  display: block; }
  @media only screen and (min-width: 725px) {
    .main-nav__elem:hover .main-nav__link {
      color: #fce38a; } }
  @media only screen and (max-width: 725px) {
    .main-nav__link {
      width: 100%;
      color: #f38181; } }

@media only screen and (max-width: 725px) {
  .main-nav__elem-icon {
    display: none; } }

.main-nav__elem-icon-shop,
.main-nav__elem-icon-glass {
  display: inline-block;
  width: 25px;
  height: 20px; }

.main-nav__elem-icon-shop {
  background: url("../img/icons/banner_shop.png") no-repeat; }

.main-nav__elem-search-wrapper {
  height: 30px;
  width: 30px;
  position: relative; }

.main-nav__elem-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  transition: .3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-nav__elem-search.main-nav__elem-search--active {
    width: 270px; }

.main-nav__elem-search--focus-in {
  border-color: #95e1d3; }

.main-nav__elem-search--focus-out {
  border-color: #ccc; }

.main-nav__elem-search-label {
  position: absolute;
  width: 30px;
  right: 0;
  top: 0;
  height: 30px;
  opacity: 0;
  z-index: 10;
  cursor: pointer; }

.main-nav__elem-search-field {
  font-size: 14px;
  color: #333;
  border: none;
  outline: none;
  transition: .3s ease-out;
  height: 30px;
  background-color: transparent;
  width: 0;
  opacity: 0;
  line-height: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .main-nav__elem-search--active .main-nav__elem-search-field {
    width: calc(270px - 30px);
    padding: 10px 15px;
    background-color: #fafafa;
    opacity: 1; }

.main-nav__elem-search-submit {
  border: none;
  height: 30px;
  width: 30px;
  color: #fff;
  background: transparent url("../img/icons/banner_glass.png") no-repeat center;
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
  transition: .3s ease-out; }
  .main-nav__elem-search--active .main-nav__elem-search-submit {
    background-color: #95e1d3; }
    .main-nav__elem-search:hover .main-nav__elem-search--active .main-nav__elem-search-submit {
      background-color: #95e1d3; }

.page-title {
  background: url("../img/bg/bg-header.jpg") center;
  background-size: cover;
  padding-top: calc(165px + 65px); }
  @media only screen and (max-width: 750px) {
    .page-title {
      padding-top: calc(100px + 65px); } }

.page-title__wrapper {
  text-align: center; }

.page-title__title-style {
  font: 400 72px/72px "Kaushan", "Arial", sans-serif;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .page-title__title-style {
      font-size: 42px;
      line-height: 42px; } }
  @media only screen and (max-width: 660px) {
    .page-title__title-style {
      font-size: 32px;
      line-height: 32px; } }
  @media only screen and (max-width: 430px) {
    .page-title__title-style {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 15px; } }

.page-title__title {
  font: 700 150px/140px "Montserrat", "Arial", sans-serif;
  color: #fff;
  position: relative;
  padding-bottom: 65px;
  text-transform: uppercase; }
  .page-title__title:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 4%;
    bottom: 0;
    left: 48%;
    background-color: #fff; }
  @media only screen and (max-width: 992px) {
    .page-title__title {
      font-size: 100px;
      line-height: 100px; } }
  @media only screen and (max-width: 660px) {
    .page-title__title {
      font-size: 60px;
      line-height: 70px;
      padding-bottom: 45px; } }
  @media only screen and (max-width: 430px) {
    .page-title__title {
      font-size: 45px;
      line-height: 55px;
      padding-bottom: 25px; } }

.page-title__link-more {
  margin: 50px 0 100px;
  display: inline-block;
  color: #fff;
  font: 700 14px/1 "Montserrat", "Arial", sans-serif;
  border: 3px solid #fff;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: .25s ease-out;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .page-title__link-more:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -15px;
    left: 50%;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0;
    transition: .35s ease-out;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    will-change: transform; }
  @media only screen and (min-width: 551px) {
    .page-title__link-more:hover {
      background-color: #fff;
      color: #f38181;
      letter-spacing: 1px; }
      .page-title__link-more:hover:after {
        opacity: 1;
        bottom: -20px;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-animation-name: arrow-down;
                animation-name: arrow-down;
        -webkit-animation-delay: .35s;
                animation-delay: .35s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; } }
  @media only screen and (max-width: 550px) {
    .page-title__link-more {
      border-color: transparent;
      font-size: 16px; }
      .page-title__link-more:after {
        opacity: 1;
        bottom: -10px;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-animation-name: arrow-down;
                animation-name: arrow-down;
        -webkit-animation-delay: .35s;
                animation-delay: .35s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; } }

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  50% {
    -webkit-transform: rotateZ(45deg) translateX(5px) translateY(5px);
            transform: rotateZ(45deg) translateX(5px) translateY(5px); }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); } }

@keyframes arrow-down {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  50% {
    -webkit-transform: rotateZ(45deg) translateX(5px) translateY(5px);
            transform: rotateZ(45deg) translateX(5px) translateY(5px); }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); } }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 950px) {
    .about-us {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.about-us__elem {
  width: 30%;
  background-color: #95e1d3;
  cursor: pointer;
  height: 100%;
  display: block; }
  @media only screen and (max-width: 950px) {
    .about-us__elem {
      width: 60%;
      margin: 0 auto 30px; }
      .about-us__elem:last-child {
        margin-bottom: 0; } }
  @media only screen and (max-width: 550px) {
    .about-us__elem {
      width: 90%; } }

.about-us__elem-mask {
  background-size: cover;
  width: 100%;
  height: 237px;
  transition: .3s ease-out;
  position: relative; }
  @media only screen and (max-width: 950px) {
    .about-us__elem-mask {
      height: 35vw; } }
  @media only screen and (max-width: 550px) {
    .about-us__elem-mask {
      height: auto; } }

.about-us_elem-mask:hover .about_sect-content_elem-content {
  opacity: 1; }

.about-us__info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0;
  transition: 0.35s ease-out;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  .about-us__elem:hover .about-us__info {
    opacity: 1;
    -webkit-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px); }

.about-us__info-title {
  font: 700 18px/18px "Montserrat", "Arial", sans-serif;
  margin-top: 20px; }

.about-us__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 0.35s ease-out; }
  .about-us__image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block; }
    @media only screen and (max-width: 550px) {
      .about-us__image img {
        position: static;
        -webkit-transform: none;
                transform: none;
        top: inherit;
        left: inherit;
        width: 100%; } }
  .about-us__elem:hover .about-us__image {
    -webkit-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px); }

.number-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 620px) {
    .number-info {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.number-info__elem {
  width: 20%;
  border-right: 1px solid #b5eae0;
  margin-right: -4px;
  color: #fff;
  padding: 90px 5px;
  text-align: center; }
  .number-info__elem:first-child {
    border-left: 1px solid #b5eae0; }
  @media only screen and (max-width: 1120px) {
    .number-info__elem {
      padding: 70px 5px; } }
  @media only screen and (max-width: 840px) {
    .number-info__elem {
      padding: 40px 5px; } }
  @media only screen and (max-width: 620px) {
    .number-info__elem {
      width: 33%; }
      .number-info__elem:nth-child(4) {
        border-left: 1px solid #b5eae0; } }
  @media only screen and (max-width: 510px) {
    .number-info__elem {
      width: 50%; }
      .number-info__elem:nth-child(4) {
        border-left: none; }
      .number-info__elem:nth-child(3), .number-info__elem:nth-child(5) {
        border-left: 1px solid #b5eae0; } }

.number-info__elem-number {
  font: 700 72px/72px "Montserrat", "Arial", sans-serif;
  display: block; }
  @media only screen and (max-width: 768px) {
    .number-info__elem-number {
      font-size: 56px; } }

.number-info__elem-descr {
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  display: block;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .number-info__elem-descr {
      font-size: 12px; } }

.service__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }
  .service__list:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #b5eae0; }
    @media only screen and (max-width: 768px) {
      .service__list:after {
        display: none; } }

.service__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  padding: 65px 0 50px; }
  @media only screen and (max-width: 900px) {
    .service__item {
      width: 32%; } }
  @media only screen and (max-width: 768px) {
    .service__item {
      width: 50%;
      padding: 25px 5px; } }
  @media only screen and (max-width: 550px) {
    .service__item {
      width: 100%;
      max-width: 450px;
      margin: auto; } }

.service__item-img {
  width: 10%;
  min-width: 35px; }
  @media only screen and (max-width: 750px) {
    .service__item-img {
      margin-right: 5px; } }
  @media only screen and (max-width: 550px) {
    .service__item-img {
      width: 35px;
      margin-right: 15px;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; } }
  .service__item-img img {
    width: 100%;
    display: block; }

.service__item-text {
  width: 81%; }
  @media only screen and (max-width: 550px) {
    .service__item-text {
      width: 100%; } }

.service__item-title {
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px; }
  @media only screen and (max-width: 750px) {
    .service__item-title {
      margin-bottom: 5px; } }

.service__item-descr {
  font: 400 15px/1.6 "Roboto", "Arial", sans-serif;
  color: #999; }

.devices__sect-content {
  text-align: center;
  margin-left: -40px; }
  .devices__sect-content img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%; }

.devices__sect-content-absolut-img {
  position: absolute;
  bottom: 0;
  bottom: -10%;
  right: 22%; }
  @media only screen and (max-width: 992px) {
    .devices__sect-content-absolut-img {
      right: 7%; } }
  @media only screen and (max-width: 750px) {
    .devices__sect-content-absolut-img {
      right: 0; } }
  @media only screen and (max-width: 370px) {
    .devices__sect-content-absolut-img {
      right: -60px; } }
  .devices__sect-content-absolut-img img {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 660px) {
      .devices__sect-content-absolut-img img {
        width: 90%; } }
    @media only screen and (max-width: 580px) {
      .devices__sect-content-absolut-img img {
        width: 80%; } }
    @media only screen and (max-width: 430px) {
      .devices__sect-content-absolut-img img {
        width: 65%; } }
    @media only screen and (max-width: 370px) {
      .devices__sect-content-absolut-img img {
        width: 55%; } }

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .services__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.services__preview {
  width: 48%; }
  @media only screen and (max-width: 700px) {
    .services__preview {
      width: 60vw;
      margin-bottom: 25px; } }
  @media only screen and (max-width: 660px) {
    .services__preview {
      width: 75vw; } }
  @media only screen and (max-width: 580px) {
    .services__preview {
      width: 100%; } }
  .services__preview img {
    width: 100%;
    display: block; }

.services__accordeon {
  width: 48%; }
  @media only screen and (max-width: 700px) {
    .services__accordeon {
      width: 75vw; } }
  @media only screen and (max-width: 580px) {
    .services__accordeon {
      width: 100%; } }

.services__accordeon-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  cursor: pointer; }
  .services__accordeon-item:last-child {
    margin-bottom: 0; }

.services__accordeon-title {
  text-transform: uppercase;
  color: #333;
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
  position: relative; }
  @media only screen and (max-width: 580px) {
    .services__accordeon-title {
      padding: 15px; } }

.services__accordeon-arrow {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  transition: .35s ease-out; }
  .services__accordeon-item--open .services__accordeon-arrow {
    -webkit-transform: translateY(-50%) rotate(-225deg);
            transform: translateY(-50%) rotate(-225deg); }

.services__accordeon-descr {
  transition: .35s ease-out;
  padding: 0 10px;
  font: italic 300 15px/24px "Roboto", "Arial", sans-serif;
  color: #999;
  max-height: 0;
  overflow: hidden; }
  .services__accordeon-item--open .services__accordeon-descr {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto; }

.testimotials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }
  @media only screen and (max-width: 675px) {
    .testimotials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.testimotials__photo {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
  .testimotials__photo img {
    max-width: 100%;
    max-height: 100%;
    display: block; }
  @media only screen and (max-width: 750px) {
    .testimotials__photo {
      width: 110px;
      height: 110px;
      margin-right: 10px; } }
  @media only screen and (max-width: 675px) {
    .testimotials__photo {
      width: 170px;
      height: 170px;
      margin: 0 auto 20px; } }

.testimotials__photo--icon {
  border: 2px solid #95e1d3; }

.testimotials__testimotial {
  width: calc(100% - 200px); }
  @media only screen and (max-width: 1024px) {
    .testimotials__testimotial {
      width: calc(100% - 170px); } }
  @media only screen and (max-width: 750px) {
    .testimotials__testimotial {
      width: calc(100% - 140px); } }
  @media only screen and (max-width: 675px) {
    .testimotials__testimotial {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }

.testimotials__testimotial-text {
  font: italic 300 24px/1.6 "Roboto", "Arial", sans-serif;
  color: #999; }
  @media only screen and (max-width: 750px) {
    .testimotials__testimotial-text {
      font-size: 20px; } }
  @media only screen and (max-width: 550px) {
    .testimotials__testimotial-text {
      font-size: 16px; } }

.testimotials__testimotial-author {
  font: 400 24px/36px "Kaushan", "Arial", sans-serif;
  color: #333333;
  position: relative;
  padding-left: 60px; }
  .testimotials__testimotial-author:before {
    content: '';
    position: absolute;
    width: 50px;
    background-color: #f38181;
    height: 2px;
    left: 0;
    top: 50%; }
  @media only screen and (max-width: 675px) {
    .testimotials__testimotial-author {
      text-align: right;
      padding-right: 30px; } }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 750px) {
    .team__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team__item {
  width: 30%;
  background-color: #95e1d3; }
  @media only screen and (max-width: 1024px) {
    .team__item {
      width: 32%; } }
  @media only screen and (max-width: 750px) {
    .team__item {
      width: 50vw; }
      .team__item:not(:last-child) {
        margin-bottom: 25px; } }
  @media only screen and (max-width: 660px) {
    .team__item {
      width: 60vw; } }
  @media only screen and (max-width: 480px) {
    .team__item {
      width: 75vw; } }
  @media only screen and (max-width: 430px) {
    .team__item {
      width: 100%; } }

.team__item-person {
  background-size: cover;
  width: 100%;
  height: 475px;
  transition: .3s ease-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    .team__item-person {
      height: 400px; } }
  @media only screen and (max-width: 750px) {
    .team__item-person {
      height: 375px; } }
  .team__item-person:hover {
    -webkit-transform: translate3d(-10px, -10px, 0);
            transform: translate3d(-10px, -10px, 0); }

.team__item-soc {
  display: inline-block;
  margin-right: -4px; }

.team__item-soc-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fce38a;
  color: #f38181;
  width: 56px;
  height: 56px;
  transition: .2s ease-out;
  opacity: 0;
  visibility: hidden;
  font-size: 1.5em; }
  .team__item-soc-link:hover {
    background-color: #f38181;
    color: #fce38a; }
  .team__item-person:hover .team__item-soc-link {
    opacity: 1;
    visibility: visible; }

.works {
  padding: 110px 0 120px; }

.works__list {
  background-color: #95e1d3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: calc(390px * 2); }
  @media only screen and (max-width: 1024px) {
    .works__list {
      height: calc(290px * 3); } }
  @media only screen and (max-width: 768px) {
    .works__list {
      height: calc(50vw * 4); } }

.works__item {
  height: 390px;
  width: 25%;
  background-position: center;
  background-size: cover;
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .works__item {
      height: 290px;
      width: 33.3333%; } }
  @media only screen and (max-width: 768px) {
    .works__item {
      width: 50vw;
      height: 50vw; } }
  .works__item.works__item--full-height {
    height: calc(390px * 2); }
    @media only screen and (max-width: 1024px) {
      .works__item.works__item--full-height {
        height: calc(290px * 2); } }
    @media only screen and (max-width: 768px) {
      .works__item.works__item--full-height {
        height: calc(50vw * 2); } }

.works__item-info {
  width: 100%;
  height: 390px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: .3s ease-out;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
  @media only screen and (max-width: 1024px) {
    .works__item-info {
      height: 290px; } }
  @media only screen and (max-width: 768px) {
    .works__item-info {
      width: 50vw;
      height: 50vw; } }
  .works__item:hover .works__item-info {
    opacity: 1; }
  .works__item--full-height .works__item-info {
    height: calc(390px * 2); }
    @media only screen and (max-width: 1024px) {
      .works__item--full-height .works__item-info {
        height: calc(290px * 2); } }
    @media only screen and (max-width: 768px) {
      .works__item--full-height .works__item-info {
        height: calc(50vw * 2); } }

.works__item-info-icon {
  margin-bottom: 20px;
  display: block; }

.works__item-info-descr {
  font: italic 300 15px/1 "Roboto", "Arial", sans-serif; }
  @media only screen and (max-width: 768px) {
    .works__item-info-descr {
      font-size: 11px; } }

.works__item-info-title {
  font: 400 14px/1 "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media only screen and (max-width: 768px) {
    .works__item-info-title {
      font-size: 10px;
      margin-bottom: 10px; } }

.clietns {
  padding: 110px 0 130px;
  background: url("../img/bg/bg-people.jpg") center;
  background-size: cover; }

.clietns__list {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media only screen and (max-width: 768px) {
    .clietns__list {
      margin-top: 50px; } }

.clietns__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 0 10px; }
  .clietns__item:nth-child(n + 3) {
    margin-top: 70px; }
  @media only screen and (max-width: 768px) {
    .clietns__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 5px; }
      .clietns__item:nth-child(n + 3) {
        margin-top: 30px; } }
  @media only screen and (max-width: 580px) {
    .clietns__item {
      width: 100%;
      max-width: 350px;
      margin: 0 auto; }
      .clietns__item:nth-child(n + 2) {
        margin: 40px auto 0; } }

.clietns__item-photo {
  width: 23%; }
  @media only screen and (max-width: 768px) {
    .clietns__item-photo {
      display: block;
      margin: 0 auto 15px; } }
  .clietns__item-photo img {
    display: block;
    width: 100%;
    cursor: pointer; }

.clietns__item-info {
  width: 73%; }
  @media only screen and (max-width: 768px) {
    .clietns__item-info {
      width: 100%; } }
  .clietns__item-info h3 {
    font: 400 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px; }
    @media only screen and (max-width: 768px) {
      .clietns__item-info h3 {
        text-align: center; } }
  .clietns__item-info span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block; }
    @media only screen and (max-width: 768px) {
      .clietns__item-info span {
        text-align: center; } }
    .clietns__item-info span:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #f38181;
      width: 15%;
      bottom: 0;
      left: 0; }
      @media only screen and (max-width: 768px) {
        .clietns__item-info span:after {
          left: calc(50% - (15%/2)); } }
  .clietns__item-info p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #999; }

.blog__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .blog__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.blog__item {
  width: 30%; }
  @media only screen and (max-width: 900px) {
    .blog__item {
      width: 32%; } }
  @media only screen and (max-width: 768px) {
    .blog__item {
      width: 100%;
      max-width: 550px;
      margin: auto; }
      .blog__item:not(:first-child) {
        margin-top: 30px; } }

.blog__item-img {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer; }
  .blog__item-img img {
    width: 100%;
    display: block; }

.blog__item-date {
  position: absolute;
  bottom: 3%;
  left: -2%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  color: #fff; }

.blog__item-date-number {
  font: 700 30px/1 "Montserrat", "Arial", sans-serif; }

.blog__item-date-mounth {
  font: italic 300 15px/1 "Roboto", "Arial", sans-serif; }

.blog__item-descr {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }

.blog__item-title {
  text-transform: uppercase;
  color: #333;
  font: 400 14px/14px "Montserrat", "Arial", sans-serif;
  margin-bottom: 20px; }

.blog__item-about {
  color: #999;
  font: 400 15px/24px "Roboto", "Arial", sans-serif; }

.blog__item-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog__item-views {
  margin-right: 15px; }

.blog__item-views,
.blog__item-comments {
  display: inline-block; }
  .blog__item-views span,
  .blog__item-comments span {
    font: italic 300 15px/15px "Roboto", "Arial", sans-serif;
    color: #999; }

.map__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .map__wrapper img {
    display: inline-block;
    width: 22px;
    margin-bottom: 20px; }

.map__title {
  font: 700 24px/24px "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  color: #f38181;
  display: inline-block;
  padding-bottom: 20px;
  position: relative; }
  .map__title:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #f38181;
    bottom: 0;
    width: 45%;
    left: 29%; }

.footer {
  background-color: #f8f8f8; }

.footer__wrapper {
  padding: 75px 0 70px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .footer__wrapper {
      padding: 50px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media only screen and (max-width: 550px) {
    .footer__wrapper {
      padding-bottom: 20px; } }

.footer__socials {
  width: 39%; }
  @media only screen and (max-width: 768px) {
    .footer__socials {
      width: 100%; } }

.footer__socials-info {
  border-bottom: 1px solid #e5e5e5; }

.footer__socials-title {
  font: 700 46px/46px "Montserrat", "Arial", sans-serif;
  color: #ccc;
  margin-bottom: 45px;
  display: block; }
  @media only screen and (max-width: 1024px) {
    .footer__socials-title {
      margin-bottom: 25px; } }

.footer__socials-descr {
  font: 400 15px/25px "Roboto", "Arial", sans-serif;
  color: #999;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1024px) {
    .footer__socials-descr {
      margin-bottom: 25px; } }

.footer__socials-followers {
  font: 400 14px "Montserrat", "Arial", sans-serif;
  color: #333;
  margin-bottom: 20px; }

.footer__socials-followers-count {
  font: 700 18px "Montserrat", "Arial", sans-serif; }

.footer__socials-links {
  margin: 20px 0 40px; }

.footer__socials-links-title {
  font: italic 300 15px "Roboto", "Arial", sans-serif;
  color: #999;
  display: inline-block;
  margin-right: 20px; }
  @media only screen and (max-width: 450px) {
    .footer__socials-links-title {
      display: block;
      margin-bottom: 10px; } }

.footer__socials-links-list {
  display: inline-block; }

.footer__socials-links-item {
  display: inline-block;
  margin-right: 15px; }
  .footer__socials-links-item:last-child {
    margin-right: 0; }

.footer__socials-links-link {
  font-size: 1em;
  color: #95e1d3; }

@media only screen and (max-width: 550px) {
  .footer__socials-subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.footer__socials-subscribe-field {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #e7e7e7;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .footer__socials-subscribe-field::-webkit-input-placeholder {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #ccc; }
  .footer__socials-subscribe-field:-moz-placeholder {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #ccc;
    opacity: 1; }
  .footer__socials-subscribe-field::-moz-placeholder {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #ccc;
    opacity: 1; }
  .footer__socials-subscribe-field:-ms-input-placeholder {
    font: italic 300 15px "Roboto", "Arial", sans-serif;
    color: #ccc; }
  @media only screen and (max-width: 550px) {
    .footer__socials-subscribe-field {
      width: 100%;
      max-width: 250px; } }

.footer__socials-subscribe-submit {
  width: 40%;
  padding: 10px;
  border: 2px solid #95e1d3;
  background-color: #95e1d3;
  margin-left: -4px;
  line-height: 20px;
  font: 700 14px "Montserrat", "Arial", sans-serif;
  color: #fff;
  cursor: pointer;
  transition: .15s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .footer__socials-subscribe-submit:hover {
    box-shadow: 0 0 10px 1px rgba(121, 224, 196, 0.6); }
  .footer__socials-subscribe-submit:active {
    border-color: #79e0c4;
    background-color: #79e0c4; }
  @media only screen and (max-width: 550px) {
    .footer__socials-subscribe-submit {
      width: 170px;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; } }
  @media only screen and (max-width: 420px) {
    .footer__socials-subscribe-submit {
      width: 110px; } }

.footer__blog {
  width: 30%; }
  @media only screen and (max-width: 768px) {
    .footer__blog {
      width: 100%; } }

.footer__title {
  font: 400 14px "Montserrat", "Arial", sans-serif;
  color: #333;
  text-transform: uppercase;
  margin: 10px 0 40px; }
  @media only screen and (max-width: 768px) {
    .footer__title {
      margin: 20px 0; } }

.footer__blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .footer__blog-item:not(:last-child) {
    margin-bottom: 30px; }
  @media only screen and (max-width: 768px) {
    .footer__blog-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer__blog-item:not(:last-child) {
        margin-bottom: 0; }
      .footer__blog-item:not(:first-child) {
        margin-top: 40px; } }
  @media only screen and (max-width: 430px) {
    .footer__blog-item:not(:last-child) {
      margin-bottom: 20px; } }

.footer__blog-item-preview {
  display: inline-block;
  width: 38%; }
  @media only screen and (max-width: 430px) {
    .footer__blog-item-preview {
      width: 150px;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      margin-right: 20px; } }
  @media only screen and (max-width: 350px) {
    .footer__blog-item-preview {
      width: 120px;
      margin-right: 10px; } }
  .footer__blog-item-preview img {
    display: block;
    width: 100%; }

.footer__blog-item-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57%; }

.footer__blog-item-title {
  font: 400 12px/18px "Montserrat", "Arial", sans-serif;
  color: #333;
  text-transform: uppercase; }

.footer__blog-item-date {
  display: block;
  font: italic 300 13px "Roboto", "Arial", sans-serif;
  color: #999; }

.footer__instagram {
  width: 25%; }
  @media only screen and (max-width: 768px) {
    .footer__instagram {
      width: 100%; } }

.footer__instagram-link-more {
  margin-top: 10px;
  display: inline-block;
  font: italic 300 13px "Roboto", "Arial", sans-serif;
  color: #999;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: .15s ease-out; }
  .footer__instagram-link-more:hover {
    border-color: #999; }

.footer__instagram-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .footer__instagram-list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: -5px; } }

.footer__instagram-item {
  width: 32.5%;
  display: block;
  cursor: pointer;
  margin-bottom: 4px; }
  @media only screen and (max-width: 768px) {
    .footer__instagram-item {
      width: 70px;
      height: 70px;
      margin-bottom: 5px; }
      .footer__instagram-item:not(:last-child) {
        margin-right: 5px; } }
  .footer__instagram-item img {
    width: 100%;
    display: block; }

.footer__rights {
  padding: 25px 0;
  text-align: center; }

.footer__rights-title {
  font: 400 14px "Montserrat", "Arial", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.footer__rights-title--style {
  color: #f38181;
  cursor: pointer; }

.logos {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px; }

.logos-content img {
  display: block;
  width: 100%; }

input.js-validate {
  border-color: #e74c3c; }
