@import 'includes/mixins'
@import 'includes/variables'

.active
  display: inline-block !important

@import 'includes/section'
@import 'includes/main-nav'
@import 'includes/page-title'
@import 'includes/about-us'
@import 'includes/number-info'
@import 'includes/service'
@import 'includes/devices'
@import 'includes/services'
@import 'includes/testimotials'
@import 'includes/team'
@import 'includes/works'
@import 'includes/clients'
@import 'includes/blog'
@import 'includes/map'
@import 'includes/footer'

.logos
	background-color: #f8f8f8
	display: flex
	justify-content: space-between
	padding: 40px 10px

.logos-content
	img
		display: block
		width: 100%

input.js-validate
  border-color: $error_color

